<!-- Page Header Close -->
<div id="tools_info" class="row row-sm d-none">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title"> Tools </div>
            </div>
            <div class="card-body">
                <div class="d-sm-flex d-block align-items-center flex-wrap justify-content-center"> 
                    <div class="mb-lg-0 mb-2"><h4 class="text-lg-center m-3">DMAIC</h4></div> 
                    <div class="custom-toggle-switch toggle-lg ms-sm-2 ms-0"> 
                        <input id="size-lg" name="toggleswitchsize" type="checkbox" checked=""> 
                        <label for="size-lg" class="label-success mb-2"></label> 
                    </div>
                    <div class="mb-lg-0 mb-2 ms-4"><h4 class="text-lg-center m-3">DMADV</h4></div>
                </div>
                <p>Note: You can download the sample templates for each from the Download Icon <i class="fe fe-download" style="--feather-size: 48px; --feather-color: green;"></i></p>
                <div class="row row-sm">
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12" style="border:solid, 2px, #bbbbbb; border-radius:5px">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between"> 
                                <div class="card-title"> DEFINE
                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-primary" class="text-primary" data-bs-original-title="Project definition and alignment."> <i class="fe fe-info"></i></a>
                                </div>
                            </div> 
                            <div class="card-body"> 
                                <div class="form-check form-check-lg mt-3" style="display: flex !important"> 
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label me-3" for="flexCheckDefault" style="width:65%; max-width:65%"> Project Contract </label> 
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div> 
                                <div class="form-check form-check-lg mt-3" style="display: flex !important"> 
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1">
                                    <label class="form-check-label me-3" for="flexCheckDefault1" style="width:65%; max-width:65%"> Input Process output Diagram (IPO/SIPOC) </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div> 
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2">
                                    <label class="form-check-label me-3" for="flexCheckDefault2" style="width:65%; max-width:65%"> Champion Interview </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3">
                                    <label class="form-check-label me-3" for="flexCheckDefault3" style="width:65%; max-width:65%"> Cost of Poor Quality (COPQ) </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4">
                                    <label class="form-check-label me-3" for="flexCheckDefault4" style="width:65%; max-width:65%"> Problem Statement </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12" style="border:solid, 2px, #bbbbbb; border-radius:5px">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    MEASURE
                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-primary" class="text-primary" data-bs-original-title="Current State Performance Baseline."> <i class="fe fe-info"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label me-3" for="flexCheckDefault" style="width:65%; max-width:65%"> Process Flow Diagram (PFD) </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1">
                                    <label class="form-check-label me-3" for="flexCheckDefault1" style="width:65%; max-width:65%"> Gemba Walk </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2">
                                    <label class="form-check-label me-3" for="flexCheckDefault2" style="width:65%; max-width:65%"> Time Motion Study </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3">
                                    <label class="form-check-label me-3" for="flexCheckDefault3" style="width:65%; max-width:65%"> Value Stream Map </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4">
                                    <label class="form-check-label me-3" for="flexCheckDefault4" style="width:65%; max-width:65%"> Physical Flow Map </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12" style="border:solid, 2px, #bbbbbb; border-radius:5px">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    ANALYZE
                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-primary" class="text-primary" data-bs-original-title="Identify Causes of Variation"> <i class="fe fe-info"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label me-3" for="flexCheckDefault" style="width:65%; max-width:65%"> Kaizen </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1">
                                    <label class="form-check-label me-3" for="flexCheckDefault1" style="width:65%; max-width:65%"> Gemba Keizen </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2">
                                    <label class="form-check-label me-3" for="flexCheckDefault2" style="width:65%; max-width:65%"> Takt Time Analysis </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3">
                                    <label class="form-check-label me-3" for="flexCheckDefault3" style="width:65%; max-width:65%"> Cause &amp; Effect Diagram </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4">
                                    <label class="form-check-label me-3" for="flexCheckDefault4" style="width:65%; max-width:65%"> Root Cause Analysis </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12" style="border:solid, 2px, #bbbbbb; border-radius:5px">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    IMPROVE
                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-primary" class="text-primary" data-bs-original-title="Develop, Test &amp; Implement Solutions"> <i class="fe fe-info"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label me-3" for="flexCheckDefault" style="width:65%; max-width:65%"> Pull System </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1">
                                    <label class="form-check-label me-3" for="flexCheckDefault1" style="width:65%; max-width:65%"> Layout Design/Work Cell </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2">
                                    <label class="form-check-label me-3" for="flexCheckDefault2" style="width:65%; max-width:65%"> Quick Changeover </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3">
                                    <label class="form-check-label me-3" for="flexCheckDefault3" style="width:65%; max-width:65%"> Mistake Proofing </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4">
                                    <label class="form-check-label me-3" for="flexCheckDefault4" style="width:65%; max-width:65%"> Visual Management </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12" style="border:solid, 2px, #bbbbbb; border-radius:5px">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    CONTROL
                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-primary" class="text-primary" data-bs-original-title="Sustain gains &amp; Scale"> <i class="fe fe-info"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label me-3" for="flexCheckDefault" style="width:65%; max-width:65%"> Control Charts </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1">
                                    <label class="form-check-label me-3" for="flexCheckDefault1" style="width:65%; max-width:65%"> Control Plans </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2">
                                    <label class="form-check-label me-3" for="flexCheckDefault2" style="width:65%; max-width:65%"> RACI Chart </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3">
                                    <label class="form-check-label me-3" for="flexCheckDefault3" style="width:65%; max-width:65%"> Accountability </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                                <div class="form-check form-check-lg mt-3" style="display: flex !important">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4">
                                    <label class="form-check-label me-3" for="flexCheckDefault4" style="width:65%; max-width:65%"> SOP/MOS </label>
                                    <a class="ms-5"><i class="las la-download la-2x text-success" style=""></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer border-top-card">
                <button class="btn btn-primary" onclick="loadPartial('tools_info', 'team_info')">Previous</button>
                <button class="btn btn-success shadow-success" onclick="loadPartial('tools_info', 'attachments_info')">Save &amp; Next</button>
            </div>
        </div>
    </div>
</div>