<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>

    <!-- Console target (Azure Log Stream captures this) -->
    <target xsi:type="Console"
            name="console"
            layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <!-- Azure persistent file location -->
    <target xsi:type="File"
            name="file"
            fileName="/home/LogFiles/app-${shortdate}.log"
            layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

  </targets>

  <rules>

    <!-- Log everything to both console and file -->
    <logger name="*" minlevel="Trace" writeTo="console,file" />

  </rules>

</nlog>
