<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- Existing console target -->
    <target xsi:type="Console"
            name="console"
            layout="${longdate}|${level}|${message}|${exception}" />

    <!-- New file target -->
    <target xsi:type="File"
            name="file"
            fileName="C:\home\LogFiles\app-log.txt"
            layout="${longdate}|${level}|${logger}|${message}|${exception}"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,file" />
  </rules>
</nlog>
